<div id="calendar" class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header p-16 p-sm-24">
        <div
            class="header-content"
            fxLayout="column"
            fxLayoutAlign="space-between"
        >
            <div
                class="header-top"
                fxLayout="column"
                fxLayoutAlign="space-between"
                fxLayout.xs="column"
            >
                <div
                    class="logo mb-16 mb-sm-0"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon
                        class="logo-icon"
                        [@animate]="{
                            value: '*',
                            params: { delay: '50ms', scale: '0.2' }
                        }"
                    >
                        meeting_room
                    </mat-icon>
                    <span
                        class="logo-text"
                        [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }"
                    >
                        Blogs
                    </span>
                </div>
            </div>

            <!-- ADD Blog BUTTON -->
            <button
                mat-fab
                class="add-event-button mat-accent"
                (click)="addBlog()"
                aria-label="Add event"
                [@animate]="{
                    value: '*',
                    params: { delay: '300ms', scale: '0.2' }
                }"
            >
                <mat-icon>add</mat-icon>
            </button>
            <!-- / ADD MEETING ROOM BUTTON -->
        </div>
        <!-- / HEADER -->
    </div>
    <div class="content p-24">
        <app-blog-rows
            [blogs]="blogs"
            (removeBlogEvent)="getblogs()"
        ></app-blog-rows>
    </div>
</div>
