<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar>

        <form
        [formGroup]="blogForm"
        class="event-form w-100-p"
        fxFlex
        fxLayout="column"
    >

            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" fxFlex="60">
                    <mat-label>Title</mat-label>
                    <input
                        type="string"
                        formControlName="title"
                        matInput
                        required
                    />
                    <mat-error>Title is required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="60">
                    <mat-label>Author</mat-label>
                    <input
                        type="string"
                        formControlName="author"
                        matInput
                        required
                    />
                    <mat-error>Author is required!</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" fxFlex="150">
                    <mat-label>Content</mat-label>
                    <input
                        type="string"
                        formControlName="content"
                        matInput
                        required
                    />
                    <mat-error>Content is required!</mat-error>
                </mat-form-field>
            </div>



        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action !== 'edit'"
                mat-button color="primary"
                class="save-button"
                (click)="matDialogRef.close(blogForm)"
                [disabled]="blogForm.invalid"
                aria-label="ADD">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button color="primary"
                class="save-button"
                (click)="matDialogRef.close(['save', blogForm])"
                [disabled]="blogForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>