<div id="about" class="p-24" fxLayout="row wrap"

>
    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">
        <div class="profile-box info-box general" fxLayout="column">
            <header class="accent">
                <div class="title"> Blog </div>
            </header>
        <div class="profile-box info-box contact" fxLayout="column">

            <div class="content">
                <div class="info-line">
                    <div class="title" style="font-size:30px;">Title:</div>
                    <div class="info" >{{blog.title}}</div>
                </div>
                <div class="info-line">
                    <div class="title" style="font-size:20px;">Author:</div>
                    <div class="info">{{blog.author}}</div>
                </div>
                <div class="info-line">
                    <div class="title" style="font-size:20px;">Content:</div>
                    <div class="info">{{blog.content}}</div>
                </div>
            </div>

        </div>



    </div>


</div>
